footer ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.card-restaurants a {
  color: #000000;
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../Police/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Shrikhand';
  src: url(../../Police/Shrikhand/Shrikhand-Regular.ttf);
}

header {
  font-family: "Shrikhand", cursive;
}

header h1 {
  color: black;
  text-align: center;
  margin: 5px;
}

body {
  margin: 0;
}

body p {
  font-family: "Roboto", cursive;
}

body h1 {
  margin: 0;
}

body h2 {
  margin: 0;
}

.recherche {
  text-align: center;
  background-color: #f1f1f1;
}

.recherche .search {
  text-align: center;
  width: 100%;
  box-shadow: 3px 12px 7px -3px rgba(0, 0, 0, 0.51) inset;
  -webkit-box-shadow: 3px 12px 7px -3px rgba(0, 0, 0, 0.51) inset;
  -moz-box-shadow: 3px 12px 7px -3px rgba(0, 0, 0, 0.51) inset;
}

.recherche .search .search-input {
  background-color: rgba(187, 187, 187, 0.932);
  text-align: center;
}

.recherche h2 {
  font-weight: bold;
}

.fonctionnement h2 {
  padding-left: 30px;
  padding-top: 20px;
}

.card-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
}

.card-fonctionnement .card-fonctionnement-number {
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.card-fonctionnement .card-fonctionnement-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(207, 207, 207, 0.877);
}

.card-fonctionnement .card-fonctionnement-border .card-fonctionnement-icon i {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

.card-fonctionnement .card-fonctionnement-border .card-fonctionnement-text {
  height: 60px;
  line-height: 60px;
  padding-right: 50px;
}

.card-restaurants {
  height: auto;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-restaurants .card-restaurants-img {
  height: 100px;
  width: 200px;
}

.card-restaurants .card-restaurants-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
  width: 200px;
}

.card-restaurants .card-restaurants-texte {
  height: auto;
  width: 200px;
  position: relative;
  padding: 5px;
}

.card-restaurants .card-restaurants-texte .card-restaurants-titre {
  font-weight: bold;
}

.card-restaurants .card-restaurants-texte .card-restaurants-paragraphe {
  font-size: 15px;
}

.card-restaurants .card-restaurants-texte .card-restaurants-coeur {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card-restaurants .card-restaurants-texte .card-restaurants-coeur i:hover {
  color: #9356DC;
  background-color: #9356DC;
}

.search-submit {
  height: 40px;
  background-color: #FF79DA;
  font-size: 16px;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  padding: 10px 20px;
  margin: 0;
}

footer ul {
  margin: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px;
}

footer ul .list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul .list-footer i {
  padding-right: 5px;
  font-size: 10px;
}
/*# sourceMappingURL=styles.css.map */