.card-menu:hover{
    .row{
        .card-menu-animation{
            width: 60px;
            & i{
                transform: rotate(360deg);
                right: 12px;
            }
        }
    }
    .card-menu-prix{
        right: 45px;
    }
}