// Spécificité des pages de commande des resto

.heading{
    display: flex;
    justify-content: center;
    font-size: 30px;
    @include mobile-only{
        font-size: 1em;
        align-items: center;
    }
    & a{
        @extend %sansdécoliennoir;
    }
    i{
        padding: 0 30px;
        line-height: 90px;
        @include mobile-only{
            padding: 0 5px;
        }
    }
}

.card-presentation{
    height: auto;
    width: 100%;
    .card-presentation-img{
        height: 150px;
        width: 100%;
        & img{
            object-fit: cover;
            height: 200px;
            width: 100%;
        }
    }
    .card-presentation-texte{
        height: 50px;
        width: 100%;
        border-top: 1px solid grey;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: rgb(200, 200, 200);
        position: relative;
        .card-presentation-titre{
            font-style: italic;
            font-weight: bold;
            font-size: 2em;
            padding: 0 30px;
            line-height: 50px;
        }
        .coeur{
            position:absolute;
            top: 15px;
            right: 20px;
            font-size: 1em;
            & i:hover { 
                color: $primaire;
                font-weight: bold;
            }
        }
    }
}

.menu{
    background-color: rgb(200, 200, 200);
    .entrees{
        margin-top: 20px;
        @extend %titremenu;        
    }
    
    .plats{
        margin-top: 20px;
        @extend %titremenu;
    }

    .desserts{
        margin-top: 20px;
        @extend %titremenu;
    }
}

.card-menu{
    height: 50px;
    width: 50%;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px 0;
    & a{
        @extend %sansdécoliennoir;
    }
    .card-menu-titre{
        font-weight: bold;
        font-size: 1em;
        padding-left: 10px;
        line-height: 0;
    }
    .card-menu-paragraphe{
        font-size: 0.8em;
        padding-left: 10px;
    }
    .card-menu-prix{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

