// Spécificité des pages de commande des resto

.heading{
    justify-content: center;
    display: flex;
    position: relative;
    height: 40px;
    h1{
        font-size: 1.5em;
        align-self: center;
        width: max-content;
    }
    @include mobile-only{
        align-items: center;
    }
    & a{
        @extend %sansdécoliennoir;
    }
    i{
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 0 30px;
        font-size: 20px;
        @include mobile-only{
            padding: 0 5px;
        }
    }
}

.card-presentation{
    height: auto;
    width: 100%;
    .card-presentation-img{
        height: 150px;
        width: 100%;
        & img{
            object-fit: cover;
            height: 200px;
            width: 100%;
        }
    }
    .card-presentation-texte{
        height: 50px;
        width: 100%;
        border-top: 1px solid grey;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #F6F6F6;
        position: relative;
        padding-top: 20px;
        .card-presentation-titre{
            font-style: italic;
            font-weight: bold;
            font-size: 2em;
            padding: 0 20px;
            line-height: 50px;
        }
        .coeur{
            position:absolute;
            top: 30px;
            right: 25px;
            font-size: 1.5em;
            & i:hover { 
                color: $primaire;
                font-weight: bold;
            }
        }
    }
}

.menu{
    background-color: #F6F6F6;
    padding: 0 15px;
    .entrees{
        margin-top: 20px;
        @extend %titremenu;        
    }
    
    .plats{
        margin-top: 20px;
        @extend %titremenu;
    }

    .desserts{
        margin-top: 20px;
        @extend %titremenu;
    }
}

.card-menu{
    height: 50px;
    margin: 20px 0;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    & a{
        @extend %sansdécoliennoir;
    }
    .card-menu-titre{
        font-weight: bold;
        font-size: 1em;
        padding-left: 10px;
        line-height: 0;
    }
    .card-menu-paragraphe{
        font-size: 0.8em;
        padding-left: 10px;
    }
    .card-menu-prix{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.commande{
    text-align: center;
    .search-submit{
        padding: 0 40px;
    }
}