body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: $roboto;
    p{
        font-family: $roboto;
        margin: 0;
    }
    h1{
        font-family: $shrikhand;
        margin: 0;
    }
    h2{
        margin: 0;
    }
    h3{
        margin: 0;
    }
    span{
        font-family: $roboto;
    }
}
