body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: $roboto;
    p{
        font-family: $roboto;
        margin: 0;
    }
    h1{
        margin: 0;
    }
    h2{
        margin: 0;
    }
    h3{
        margin: 0;
    }
}



//@each $nom, $breakpoint in $grille {  // Boucles avec Media Queries ! La grille est dans les variables.
//    @media screen and (min-width: $breakpoint) {
//        body{
//            width: 80%;
//            margin:0;
//        }        
//    }    
//}