footer{
    background-color: #353535;
    color: $blanc;
    height: auto;
    h2{
        font-family: $shrikhand;
        padding-left: 20px;
        padding-top: 15px;
        font-size: 1.2em;
        font-weight: normal;
    }
    ul{
        margin: 0;
        list-style: none;
        justify-content: space-between;
        padding: 20px 20px;
        & li{
            margin-bottom: 5px;
        }
        & li a{
            @extend %sansdécolienblanc
        }
        .list-footer{
            display:flex;
            & i{
                padding-right: 10px;
                font-size: 12px;
                width: 15px;
                line-height: 19px;
            }
            
        }
    }   
}



