.restaurants{
    justify-content: center;
    background-color: #F6F6F6;
    h2{
        text-align: center;
        padding: 20px 0;
        @include mobile-only {
            text-align: start;
            padding-top: 30px;
            padding-left: 30px;
        }
    }
    .column{
        display: flex;
        flex-direction: row;
        padding: 30px 0;
        justify-content: space-around;
        & a{
            @extend %sansdécoliennoir;
        }
        @include mobile-only{
            flex-direction: column;
            align-items: center;
        }
        @include tablette-only{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.card-restaurants{
    height: auto;
    width: 300px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 30px;
    @include mobile-only{
        margin: 5px 0;
        width: 85%;
        height: 200px;
    }
    @include tablette-only{
        margin-bottom: 30px;
    }
    &.card-restaurants-nouveau{
        &:after{
            content: 'Nouveau';
            font-size: small;
            padding: 5px 10px;
            background-color: $terciaire;
            position: absolute;
            top: 10px;
            right: 10px;
            color: #008766;
        }
    }
    .card-restaurants-img{
        height: 150px;
        width: 300px;
        @include mobile-only{
            height: 150px;
            width: 100%;
        }
        & img{
            object-fit: cover;
            height: 150px;
            width: 300px;
            @include mobile-only{
                height: 150px;
                width: 100%;
            }
        }
    }
    .card-restaurants-texte{
        height: auto;
        position: relative;
        padding: 5px 10px;
        .card-restaurants-titre{
            font-weight: bold;
            
        }
        .card-restaurants-paragraphe{
            font-size: 15px;
        }
        .coeur{
            position:absolute;
            top: 15px;
            right: 15px;
            & i:hover { 
                color: $primaire;
                font-weight: bold;
            }
        }
    }
}