.fonctionnement{
    justify-content: center;
    h2{
        text-align: center;
        padding: 20px 0;
        @include mobile-only {
            text-align: start;
            padding-top: 30px;
            padding-left: 30px;
        }
    }
    .column{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0;
        @include mobile-only {
            flex-direction: column;
            align-items: center;
        }
    }
}

.card-fonctionnement{
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
    .card-fonctionnement-vio{
        background-color: #F5EDFF;
    }
    .card-fonctionnement-border{
        display: flex;
        box-shadow: 5px 5px 5px 5px rgb(200, 200, 200);
        border-radius: 20px;
        background-color: #F6F6F6;
        .card-fonctionnement-number{
            background-color: $primaire;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            text-align: center;
            color: white;
            position: relative;
            top: 20px;
            left: -10px;
        }
        .card-fonctionnement-icon i{
            height: 60px;
            line-height: 60px;
            padding-right: 10px;
        }
        .card-fonctionnement-text{
            height: 60px;
            line-height: 60px;
            padding-right: 50px;
        }  
    }
}