.restaurants{
    display: grid;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    @include mobile-only {
        display: block;
    }
    h2{
        justify-self: center;
        padding: 20px;
        @include mobile-only {
            padding-top: 30px;
            padding-left: 20px;
        }
    }
    .column{
        display: flex;
        flex-direction: row;
        margin: 30px 0;
        @include mobile-only {
            flex-direction: column;
            align-items: center;
        }
    }
}




.card-restaurants{
    height: auto;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 30px;
    @include mobile-only{
        margin: 10px 0;
        width: 80%; 
    }
    &.card-restaurants-nouveau{
        &:after{
            content: 'Nouveau';
            padding: 3px;
            background-color: $terciaire;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
    & a{
        @extend %sansdécoliennoir;
    }
    .card-restaurants-img{
        height: 100px;
        width: 200px;
        @include mobile-only{
            height: 100px;
            width: 100%;
        }
        & img{
            object-fit: cover;
            height: 100px;
            width: 200px;
            @include mobile-only{
                height: 100px;
                width: 100%;
            }
        }
    }
    .card-restaurants-texte{
        height: auto;
        width: 200px;
        position: relative;
        padding: 5px;
        .card-restaurants-titre{
            font-weight: bold;
        }
        .card-restaurants-paragraphe{
            font-size: 15px;
        }
        .coeur{
            position:absolute;
            top: 15px;
            right: 15px;
            & i:hover { 
                color: $primaire;
                font-weight: bold;
            }
        }
    }
}