// Bouton individuel et coeur

.search-submit{
    height: 40px;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: linear-gradient(146deg, rgba(255,121,218,1) 0%, rgba(255,121,218,1) 9%, rgba(189,99,219,1) 43%, rgba(147,86,220,1) 65%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FF79DA), color-stop(9%, #FF79DA), color-stop(43%, #BD63DB), color-stop(65%, #9356DC));
    background: -webkit-linear-gradient(304deg, #FF79DA 0%, #FF79DA 9%, #BD63DB 43%, #9356DC 65%);
    box-shadow: 5px 5px 5px 5px rgb(200, 200, 200);
    cursor: pointer;
    &:hover{
        background: linear-gradient(146deg, rgb(255, 164, 229) 0%, rgb(255, 156, 227) 9%, rgb(194, 130, 216) 43%, rgb(158, 109, 219) 65%);
        box-shadow: 5px 5px 10px 10px rgb(200, 200, 200);
    }
}