// Bouton individuel et coeur

.search-submit{
    height: 40px;
    background-color: $secondaire;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}