@font-face{
    font-family: 'Roboto';
    src: url("./../../Police/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: 'Shrikhand';
    src: url("./../../Police/Shrikhand/Shrikhand-Regular.ttf");
}

$roboto: 'Roboto', cursive;
$shrikhand:'Shrikhand', cursive;